<div class="container">

  <div class="card mt-4">
    <div class="card-body">
      <h3 class="mb-3">Actions</h3>
      <button (click)="showAddModal(editModal)" type="button" class="btn btn-primary btn-lg">Add Transaction</button>
      <button (click)="getTransactions()" type="button" class="btn btn-danger ml-3 btn-lg">Reset Data From API</button>
    </div>
  </div>

  <div class="card mt-4">

    <div class="card-body">
      <table class="table" *ngIf="loaded && transactions.length">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Type</th>
          <th scope="col">Security</th>
          <th scope="col" class="text-right">Shares</th>
          <th scope="col" class="text-right">Value</th>
          <th scope="col" class="text-right">Cashflow</th>
          <th scope="col" class="text-right">&nbsp;</th>
          <th scope="col" class="text-right">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let transaction of transactions">
          <th scope="row">1</th>
          <td>{{transaction.date | date:'shortDate'}}</td>
          <td>{{transaction.type}}</td>
          <td>
            <span class="text-muted" *ngIf="!transaction.security">N/A</span>
            <span *ngIf="transaction.security">{{transaction.security}}</span>
          </td>
          <td>
            <span class="text-muted" *ngIf="!transaction.shares">N/A</span>
            <span *ngIf="transaction.shares">{{transaction.shares}}</span>
          </td>
          <td class="text-right">{{transaction.value / 100 | currency : 'GBP' : 'symbol'}}</td>
          <td class="text-right text-success" *ngIf="transaction.cashflow > 0">+{{transaction.cashflow / 100 | currency : 'GBP' : 'symbol'}}</td>
          <td class="text-right text-danger" *ngIf="transaction.cashflow < 0">+{{transaction.cashflow / 100 | currency : 'GBP' : 'symbol'}}</td>
          <td class="text-right"><a (click)="showEditModal(editModal, transaction)">Edit</a></td>
          <td class="text-right"><a (click)="deleteTransaction(transaction)" href="#">Delete</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
          <td colspan="6">Cumulative cashflow</td>
          <td class="text-right">{{calculateCashflow() / 100 | currency : 'GBP' : 'symbol'}}</td>
          <td colspan="2">&nbsp;</td>
        </tr>
        </tfoot>
      </table>
      <h3 *ngIf="loaded && !transactions.length">You have no transactions.</h3>
      <h3 *ngIf="!loaded">Loading from API - Please Wait</h3>
    </div>
  </div>

</div>


<ng-template #editModal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title2"><span *ngIf="editing">Edit</span><span *ngIf="!editing">Add</span> Transaction</h4>
    <button type="button" class="close" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="transactionForm" (submit)="processForm(transactionForm.value)">
      <div class="form-group">
        <label>Date</label>
        <input type="text" bsDatepicker formControlName="date" class="form-control">
      </div>
      <div class="form-group">
        <label>Type</label>
        <select formControlName="type" class="form-control">
          <option disabled selected>Please select...</option>
          <option value="deposit">Deposit</option>
          <option value="withdrawal">Withdraw</option>
          <option value="buy">Buy</option>
          <option value="sell">Sell</option>
        </select>
      </div>
      <div class="form-group">
        <label>Security</label>
        <input type="text" class="form-control" formControlName="security" id="security2">
      </div>
      <div class="form-group">
        <label>Shares</label>
        <input type="number" class="form-control" formControlName="shares" id="shares2">
      </div>
      <div class="form-group">
        <label>Value</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">&pound;</span>
          </div>
          <input type="number" class="form-control" id="value2" formControlName="value" >
        </div>
      </div>
      <button type="submit" class="btn btn-primary"><span *ngIf="editing">Save</span><span *ngIf="!editing">Add</span> transaction</button>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modalRef.hide()">Close</button>
  </div>
</ng-template>

